/* 1 Typography
----------------------------------------------------------------------------- */
a, .text-default {
	color: #db7093;
}
a:hover {
	color: #c86384;
}
mark,
.mark {
	background-color: #db7093;
	color: #ffffff;
}
.table > thead > tr > th {
	border-bottom: 1px solid #db7093;
	background-color: #db7093;
	color: #fff;
}
.table-bordered {
	border-color: #db7093;
}

/* 2 Layout
----------------------------------------------------------------------------- */
.default-bg {
	background-color: #db7093;
	color: #ffffff;
}

/* Backgrounds
---------------------------------- */
.default-translucent-bg:after {
	background-color: rgba(219,112,147,0.7);
}

/* 3 Pages
----------------------------------------------------------------------------- */
.blogpost .post-info {
	background-color: #db7093;
	color: #fff;
}
.blogpost .side .social-links li a {
	background-color: transparent;
	border-color: transparent;
	color: #db7093;
}
.blogpost ul.links li a:hover {
	color: #db7093;
}

/* timeline layout */
.timeline-date-label {
	color: #db7093;
}
@media (min-width:768px) {
	.timeline .timeline-item:before {
		background-color: #fff;
		border: 1px solid #db7093;
	}
}

/* 4 Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */
/* Gray Buttons */
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Light Gray Buttons */
.btn-light-gray:hover,
.btn-light-gray:focus,
.btn-light-gray:active,
.btn-light-gray.active,
.open .dropdown-toggle.btn-light-gray {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Default Buttons */
.btn-default {
	background-color: #db7093;
	color: #fff !important;
	border-color: #c86384;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #c86384;
	border-color: #c86384;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
	background-color: #c86384;
	border-color: #c86384;
}

/* Button with transparent bg
---------------------------------- */
.btn-white {
	background-color: transparent;
	color: #c86384;
	border: 1px solid #db7093;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
	color: #fff;
	background-color: #c86384;
	border-color: #c86384;
}

/* Forms
---------------------------------- */
.default-bg .form-control {
	border-color: #db7093;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .35);
	color: #ffffff;
}
.default-bg .form-control:focus {
	border-color: #db7093;
	background-color: rgba(0, 0, 0, 0.25);
}
.default-bg .input-group-addon {
	background-color: #c86384;
	border-color: #db7093;
	color: #fff;
}

/* Pager
---------------------------------- */
ul.pagination li > a:hover {
	background-color: transparent;
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}
ul.pagination li.active a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Tabs
---------------------------------- */
.nav-tabs > li.active > a:after {
	background-color: #db7093;
}
.tab-content:after {
	background-color: #db7093;
}
@media (max-width:480px) {
	.nav-tabs > li > a:hover:after {
		background-color: #db7093;
	}
}

/* Horizontal tabs version 2 */
.tabs-style-2 .nav-tabs {
	border-bottom: 1px solid #db7093;
}
.tabs-style-2 .nav-tabs > li.active > a,
.tabs-style-2 .nav-tabs > li.active > a:hover,
.tabs-style-2 .nav-tabs > li.active > a:focus,
.tabs-style-2 .nav-tabs > li > a:hover {
	border: 1px solid #db7093;
	background-color: #db7093;
	color: #fff;
}

/* vertical tabs */
.vertical .nav-tabs > li > a:hover:after {
	background-color: #db7093;
}

/* Nav pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
	border: 1px solid #f3f3f3;
	color: #db7093;
	background-color: #fafafa;
}
.nav-pills > li.active > a:after {
	color: #db7093;
}
.nav-pills > li.active > a:hover:after,
.nav-pills > li.active > a:focus:after,
.nav-pills > li > a:hover:after,
.nav-pills > li > a:focus:after {
	color: #db7093;
}
.light .footer-content .nav-pills > li.active > a:hover,
.light .footer-content .nav-pills > li > a:hover {
	color: #c86384;
}

/* Collapse
---------------------------------- */
.panel-heading a {
	background-color: #db7093;
	color: #ffffff;
}
.panel-heading a:hover,
.panel-transparent .panel-heading a:hover {
	background-color: #db7093;
	color: #ffffff;
}

/* Progress bars
---------------------------------- */
.progress-bar-default {
	background-color: #db7093;
}

/* Modals
---------------------------------- */
.modal-content .modal-header {
	background-color: #db7093;
}

/* Images and Images overlay
---------------------------------- */
.overlay a {
	color: #db7093;
	background-color: #ffffff;
}
.overlay-links a + a {
	color: #ffffff;
	background-color: #db7093;
}
a.overlay i {
	color: #db7093;
}

/* 5 Navigations
----------------------------------------------------------------------------- */
/* first level active menu items on hover/focus */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #db7093;
	background-color: transparent;
}

.main-navigation .navbar-nav > .open > a, 
.main-navigation .navbar-nav > .open > a:hover, 
.main-navigation .navbar-nav > .open > a:focus { 
	color: #666666; 
	background-color: #fafafa; 
}

/* second level menu items on focus/hover and when opened */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .menu > .active > a,
.dropdown-menu .menu > .active > a:hover,
.dropdown-menu .menu > .active > a:focus {
	background-color: #ffffff;
	color: #db7093;
	border-color: #f1f1f1;
}

/* mega menu menu items on focus/hover and when opened */
.mega-menu .menu > li > a:hover,
.mega-menu .menu > li > a:focus {
	background-color: #ffffff;
	color: #db7093;
	border-color: #f1f1f1;
}

/* arrows for parent menu items */
.navbar-default .navbar-nav > .active.dropdown > a:before {
	color: #db7093;
}
.navbar-default .navbar-nav > .dropdown.open > a:before { 
	color: #e5e5e5; 
}
.dropdown .dropdown.open>a:before {
	color: #db7093;
}

/* mobile menu toggle button on hover/focus */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fafafa;
	border-color: #db7093;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #db7093;
}
@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { 
		color: #db7093; 
		background-color: transparent; 
	}
	
	/* first level items hover and focus states */
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #db7093;
		background-color: #fff;
	}
	
	/* second level items on hover/focus */
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #db7093;
	}
}

/* Subfooter navigation
---------------------------------- */
.subfooter .navbar-default .nav > li > a:hover,
.subfooter .navbar-default .nav > .active > a:hover,
.subfooter .navbar-default .nav > .active > a:focus {
	background-color: transparent;
	color: #db7093;
}

/* 6 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Boxes
---------------------------------- */
.box.gray-bg:hover {
	color: #db7093;
}
.box.default-bg:hover {
	background-color: #fff;
	border: 1px solid #db7093;
}
.box.default-bg:hover * {
	color: #db7093;
}
.box-style-1:not(.team-member):hover i {
	color: #db7093;
}
.box-style-1.default-bg:hover i, 
.box-style-1.dark-bg:hover i {
	color: inherit;
}
.box-style-2:hover .default-bg {
	background-color: #fff;
	border: 1px solid #db7093;
}
.box-style-2:hover .default-bg * {
	color: #db7093;
}
.box-style-2:hover .white-bg * {
	color: #db7093;
}
.box-style-3:hover .default-bg {
	background-color: #fff;
	border: 1px solid #db7093;
}
.box-style-3:hover .default-bg * {
	color: #db7093;
}
.box-style-3:hover .white-bg * {
	color: #db7093;
}

/* Tags cloud block
---------------------------------- */
.tag a:hover {
	color: #ffffff;
	background-color: #db7093;
	border-color: #db7093;
}

/* Social icons block
---------------------------------- */
.social-links li a {
	background: #db7093;
	border: 1px solid #db7093;
	color: #fff;
}
.social-links li a:hover {
	background-color: transparent;
	border-color: #c86384;
	color: #c86384;
}
.social-links .dropdown.open>button>i:before {
	content: "\f00d";
	color: #db7093;
}
.header-top .social-links li a:hover {
	color: #c86384;
}

/* search and login
---------------------------------- */
.header-top-dropdown .dropdown.open>button,
.header-top-dropdown .dropdown>button:hover {

	color: #db7093;
}

/* Pricing tables
---------------------------------- */
.plan .popover-title {
	background-color: #db7093;
	color: #ffffff;
}
.gray .plan .header h3 {
	color: #db7093;
}
.white .plan .header {
	color: #fff;
	background: #db7093;
}
.stripped .header {
	background: #db7093;
	-webkit-box-shadow: 0px 0px 60px #c86384 inset;
	-moz-box-shadow: 0px 0px 60px #c86384 inset;
	box-shadow: 0px 0px 60px #c86384 inset;
	color: #fff;
}

/* 7 Main Slideshow
----------------------------------------------------------------------------- */
/* Slider Revolution captions */
.default_bg {
	background-color: #db7093;
	color: #fff;
}

/* Revolution Nav Controls */
.tparrows.round:hover {
	color: #ffffff;
	background-color: #db7093;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
	background-color: #db7093;
}
.tp-bannertimer {
	background-color: rgba(219,112,147,0.7);
}

/* 8 Owl carousel
----------------------------------------------------------------------------- */
.owl-prev {
	background-color: #db7093;
	color: #f1f1f1;
}
.owl-next {
	background-color: #f1f1f1;
	color: #db7093;
}
.content-slider-with-controls .owl-buttons div,
.content-slider-with-controls-autoplay .owl-buttons div {
	background-color: #db7093;
	color: #f1f1f1;
}
.content-slider-with-controls .owl-prev:hover,
.content-slider-with-controls .owl-next:hover,
.content-slider-with-controls-autoplay .owl-prev:hover,
.content-slider-with-controls-autoplay .owl-next:hover {
	background-color: #f1f1f1;
	color: #db7093;
}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
	background: #db7093;
}